{% include 'blog/logo.html' %}
{% include 'blog/header.html' %}
{% include 'blog/poisk.html' %}
<p style="text-align:center;margin-top:50px;line-heigt:140%;">Этот блог появился в результате первой пробы написания сайта и его развёртывания на облаке. Поэтому
он довольно скудный и непритязательный. Но раз уж написан, то было бы глупо этим не воспользоваться.
Поэтому пусть это будет что-то вроде блога с музыкальным уклоном, где я буду делиться какими-то своими
наблюдениями.
<br></br>
Правила:
В блоге не даются ссылки на скачку. Во-первых: Всё и так легче лёгкого можно
найти в интернете. Во-вторых: автор придерживается мнения, что любой труд должен
быть оплачен <em style="text-decoration:line-through;">что не мешает
самому качать нелегальный контент</em>, и торжественно клянётся купить
весь имеющийся контент, когда <em style="text-decoration:line-through;">если</em> станет
прилично зарабатывать, но на данный момент, чтоб не казаться ханжой и не нарушать 
свои принципы, договоримся просто не давать ссылки на скачку здесь.</p>
{% include 'blog/footer.html' %}
