{% include 'blog/logo.html' %}
{% include 'blog/header.html' %}
{% include 'blog/poisk.html' %}
        {% load disqus_tags %}
        <h1>Posts for {{ category.title }}</h1>
        {% if posts %}
        {% for post in posts %}
        <div class="post">
        <h1><a href="http://{{ site }}/category.html">{{ post.title }}</a></h1>
        {{ post.body|safe }}
        {% disqus_show_comments %}
        </div>
        {% endfor %}
        <br />
        {% if page.has_previous %}
        <a href="/{{ page.previous_page_number }}/">Previous Page</a>
        {% endif %}
        {% if page.has_next %}
        <a href="/{{ page.next_page_number }}/">Next Page</a>
        {% endif %}
        {% else %}
        <div class="post">
        <p>No posts matched</p>
        </div>
        {% endif %}
{% include 'blog/footer.html' %}