<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% include 'blog/logo.html' %}
<html>
    <head>
        <title>My Django Blog</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
      
     <div id="polls">
          <h3 style="text-align:center;margin-top:270px;">Категории</h3>
          {% for element in spisok_categ %}
              <p style="text-align:center;"><a href="http://{{site}}/all_of_that_category/{{element.0}}">{{ element.0 }}({{ element.1}})</a></p>
             {% endfor %}
          </div>
            {% include 'blog/example-full.html' %}
        <div id='archive'>
        <h3>Архив публикаций</h3>
        {% for element in spisok_publ %}
            <p><a href="http://{{site}}/archive/{{ element.3 }}/">{{ element.1 }}</a> {{ element.2 }} - {{element.0}}</p>
        {% endfor %}
        
        </div>
      
</script>
        
        <div id="main">
            <h1>My Django Blog</h1>
            <a href="/feeds/posts/"><img src="/static/RSS.png" width="50px" height="50px"></a>
            <ul id="pageList">
                <li><a href="/">Home</a></li>
                {% load flatpages %}
                {% get_flatpages as flatpages %}
                {% for flatpage in flatpages %}
                <li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
                {% endfor %}
                <li><a href="http://{{ site }}/thanks">Thanks</a></li>
                
            </ul>
            
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Highcharts Example</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script type="text/javascript">
$(function () {
    var chart;
    var choices = '{{ choices_json|escapejs }}';
    choices = JSON.parse(choices);
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'container',
                type: 'bar'
            },
            title: {
                text: choices[3]
            },
            xAxis: {
                categories: [choices[0][0],choices[1][0],choices[2][0]],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Choices',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y;
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'top',
                x: -100,
                y: 100,
                floating: true,
                borderWidth: 1,
                backgroundColor: '#FFFFFF',
                shadow: true
            },
            credits: {
                enabled: false
            },
            series: [{
                data: [choices[0][1],choices[1][1],choices[2],[1]]
            }, 
            ]
        });
    });
    
});
		</script>
<script src="/static/highcharts.js" type="text/javascript"></script>
<script src="/static/exporting.js" type="text/javascript"></script>
<div id="container"></div>
{% for choice in choices %}
         <div class="post"><ul>
         <li>{{ choice.choice }}</li>
         <p>{{ choice.votes }} people think it is so</p>
         </ul>
         </div>
{% endfor %}
{% include 'blog/footer.html' %}
