</div>
<div id="footer">
<h6 style="color:white";>Дизайн и вёрстка, какие есть,
by daskilet. 2013. "Статьи, опубликованные в этом блоге, принадлежат нам. Все права защищены, охраняются, ну и всё в таком духе. Если хочешь выложить какой-нибудь из наших текстов у себя на сайте - выкладывай на здоровье, но не забудь поставить открытую ссылочку. А если не поставишь - будешь последней редиской и вообще нехорошим человеком."
Текст в кавычках, кстати,взят с <a href="http://kinotom.com" style="color:yellow;">kinotom.com</a></h6>
</div>
</body>
</html>
