        <title>My Django Blog</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    {{ google_analytics }}
    </head>
    <body>
     <div id="polls">
           <h3> Our current poll</h3>
           {% if latest_poll_list %}
            <h4 style="text-align:center;font-size:18px;">{{ latest_poll_list.question }}</h4>
           {% else %}
               <p>No polls are available.</p>
           {% endif %}
           <form action="/polls/{{ latest_poll_list.slug }}/vote/" method="post">
           {% csrf_token %}
           {% for choice in choices %}
              <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
              <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
           {% endfor %}
              <input type="submit" value="Vote" style="margin-top:20px;" />
             </form>
          <a href="http://{{ site }}/poll_list" style="font-size:14px;">poll archive</a>
          <br></br><br></br>
          <h3 style="text-align:center;">Категории</h3>
          {% for element in spisok_categ %}
              <p style="text-align:center;"><a href="http://{{site}}/all_of_that_category/{{element.0}}">{{ element.0 }}({{ element.1}})</a></p>
             {% endfor %}
          </div>
            {% include 'blog/example-full.html' %}
        <div id='archive'>
        <h3>Архив публикаций</h3>
        {% for element in spisok_publ %}
            <p><a href="http://{{site}}/archive/{{ element.3 }}/">{{ element.1 }}</a> {{ element.2 }} - {{element.0}}</p>
        {% endfor %}    
        </div>
        <div id="main">
            <h1>My Django Blog</h1>
            <a href="/feeds/posts/"><img src="/static/RSS.png" width="50px" height="50px"></a>
            <ul id="pageList">
                <li><a href="/">Home</a></li>
                {% load flatpages %}
                {% get_flatpages as flatpages %}
                {% for flatpage in flatpages %}
                <li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
                {% endfor %}
                <li><a href="http://{{ site }}/thanks">Thanks</a></li>
                
            </ul>
            