{% load analytics %}
<html>
    <head>
    {% if htm_name == "thankyou" %}
       <meta name=”description” content="Confirmation of your feedback being sent."/>
    {% elif htm_name == "feedback" %}
       <meta name=”description” content="Form of feedback with site administration."/>
    {% elif htm_name == "category_list" %}
       <meta name=”description” content="List of all existing categories."/>
    {% elif htm_name == "poll_list" %}
       <meta name=”description” content="List of all polls of our site ever."/>
    {% elif htm_name == "single" %}
       <meta name=”description” content="Desribes a single post."/>
    {% elif htm_name == "choices_for_poll" %}
       <meta name=”description” content="Shows results of current poll and vizualize them."/>
    {% elif htm_name == "info" %}
       <meta name=”description” content="Shows some useful info about a site."/>
    {% elif htm_name == "thanks" %}
       <meta name=”description” content="Shows internet resourses or people, to which author feels grateful for some reason."/>
    {% elif htm_name == "profile" %}
       <meta name=”description” content="Views info about publisher of the post, if he added it."/>
    {% elif htm_name == "poisk_rezult" %}
       <meta name=”description” content="Let us see rezult of the search on the website."/>
    {% elif htm_name == "popular" %}
       <meta name=”description” content="Month's most popular posts."/>
    {% else %}
       <meta name=”description” content="Posts or categories of the site."/>
    {% endif %}
    <meta charset="utf-8" />   
     <title>Примитив</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40628880-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
  })();

</script>
        <link rel="stylesheet" type="text/css" href="/static/style.css?{{ GIT_REVISION }}" />
    {% analytics %}
    </head>
    <body>
     <div id="polls">
           <div class="box">
           {% if latest_poll_list %}
           <h3> Наш текущий опрос</h3>
            <h4 style="text-align:center;font-size:18px;">{{ latest_poll_list.question }}</h4>
           {% elif choices_json %}
           </br>
           {% else %}
               <p>No polls are available.</p>
           {% endif %}
           {% if not choices_json %}
           <form action="/polls/{{ latest_poll_list.slug }}/vote/" method="post">
           {% csrf_token %}
           {% for choice in choices %}
              <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
              <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
           {% endfor %}
              <input type="submit" value="Vote" style="margin-top:20px;" />
             </form>
          <a href="http://{{ site }}/poll_list" style="font-size:14px;">poll archive</a>
          {% else %}
          <br></br><br></br><br></br>
          {% endif %}
          <br></br>
          <h3 style="text-align:center;">Категории</h3>
          {% for element in spisok_categ|slice:":10" %}
          {% if forloop.counter == 10 %}
          <p style="text-align:center;"><a href="http://{{site}}/category_list">...</a></p>
          {% else %}
          <p style="text-align:center;"><a href="http://{{site}}/all_of_that_category/{{element.2}}">{{ element.0 }}({{ element.1}})</a></p>
          {% endif %}
             {% endfor %}
          </div>
          </div>
            <div class="box">
            <h3>Календарь</h3>
            {% include 'blog/example-full.html' %}
            </div>
        <div id='archive'>
        <div class="box">
        <h3>Архив публикаций</h3>
        {% for element in spisok_publ %}
            <p><a href="http://{{site}}/archive/{{ element.3 }}/">{{ element.1 }}</a> {{ element.2 }} - {{element.0}}</p>
        {% endfor %}    
        <h3 style="text-align:center;">На сайте</h3>
        <br></br>
<script id="_waublv">var _wau = _wau || [];
_wau.push(["colored", "m0qgy0jmjk3q", "blv", "ffc20e000000"]);
(function() {var s=document.createElement("script"); s.async=true;
s.src="http://widgets.amung.us/colored.js";
document.getElementsByTagName("head")[0].appendChild(s);
})();</script>
        </div>
        </div>
        <div id="main">
            <h1>My Django Blog</h1>
            <a href="/feeds/posts/"><img src="/static/RSS.png" width="50px" height="50px"></a>
            <ul id="pageList">
                <li><a href="/">Home</a></li>
                {% load flatpages %}
                {% get_flatpages as flatpages %}
                {% for flatpage in flatpages %}
                <li><a href="{{ flatpage.url }}">{{ flatpage.title }}</a></li>
                {% endfor %}
                <li><a href="http://{{ site }}/most_visited">Популярное за месяц</a></li>
                <li><a href="http://{{ site }}/thanks">Thanks</a></li>
                <li><a href="http://{{ site }}/feedback">Обратная связь</a></li>
                <li><a href="http://{{ site }}/sitemap.xml">Карта сайта</a></li>

            </ul>
            