{% include 'blog/logo.html' %}
{% include 'blog/header.html' %}
{% include 'blog/poisk.html' %}
        {% load disqus_tags %}
        {% for post in posts %}
        <div class="post">
        <h1>{{ post.title }}</a></h1>
        <h3>{{ post.created }}</h3>
        {{ post.body|safe }}
        <h3>By <a href="http://{{ site }}/{{ post.get_absolute_url }}profile">{{ post.author }}</a></h3>
        <h3><a href="http://{{ site }}/category_list">Categories:</a> {% for category in post.categories.all %} <a href=http://{{ site }}/all_of_that_category/{{ category.title }}>{{ category.title }}</a> {% endfor %}</h3>
        {% disqus_show_comments %}
        {% endfor %}
        </div>
        <br />
        {% if page.has_previous %}
        <a href="/{{ page.previous_page_number }}/">Previous Page</a>
        {% endif %}
        {% if page.has_next %}
        <a href="/{{ page.next_page_number }}/">Next Page</a>
        {% endif %}
{% include 'blog/footer.html' %}
